*, html, body{
    font-family: 'Merriweather', serif;
    font-size: 10px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

}

html{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    scroll-snap-align: start;
    background: #F8EEE6;
    width: 100%;
}

section{
    scroll-snap-align: start;
    background: #F8EEE6;
}

main, footer{
    scroll-snap-align: start;
}


/* header full page */
    header{
        /* background: red; */
        height: 100vh;
        font-size: 3rem;
        scroll-snap-align: start;
    }

    header .fullPageContainer{
        height: 100%;
    }

    header .LogoContainer{
        /* background: khaki; */
        height: 10%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    header .LogoContainer .HeaderLogo{
        height: 100%;   
    }

    header .ProductContainer{
        /* background: rgb(58, 226, 66); */
        display: flex;
        flex-direction: row; 
        height: 80%;
        padding: 0 10%;  
    }

    header .ProductContainer .ProductTitle{
        /* background: rgb(200, 113, 142); */
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    header .ProductContainer .ProductTitle h1{
        font-size: 35px;
        line-height: 2;
        margin: 0;
        padding: 0 0 1.2em 0;
        color: #403027;
    }
    .OrderNowButton{
        border: none;
        background: none;
        cursor: pointer;
        padding: 0.5em 3em;
        /* border-radius: 8px; */
        background: transparent;
        border: #403027 solid;
        padding: 0.5em 3em;
        cursor: pointer;
        text-decoration: none;
        color: #403027;
        font-size: 3rem;

    }
    
    
    .ProductTitle .OrderNowButton:hover{
        background: #403027;
        color: #F8EEE6;
    }


    header .ProductContainer .Product{
        /* background: lavenderblush; */
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header .ProductContainer .Product  .ProductImg{
        height: 100%;
        width: auto;
    }

    header .ArrowB{
        /* background: lightblue; */
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 5px 0; */
    }

    header .DownButton{
        /* Button Test */
        border: none;
        background: transparent;
        /* width: 100%; */
        height: 110%;
        /* Button Test */
    }

    header .ArrowB a{
        padding: 0;
        margin: 0;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    header .ArrowB #DownArrImg{
        height: 90%;
        opacity: 0.5;
    }
    header .ArrowB .DownButton:hover, #DownArrImg:hover{
        height: 100%;
        opacity: 0.7;
    }
    header .ArrowB .DownButton:active, #DownArrImg:active{
        height: 90%;
        opacity: 0.9;
    }

/* header full page */



/* Start NavBar  */
    .NavBar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10rem;
        padding: 0rem 2rem;
        background: #F8EEE6;
        position: sticky;
    }
    .NavBar img{
        height: 100%;
        cursor: pointer;
    }

    .NavBar ul{
        display: flex;
        align-items: center;
    }

    .NavBar ul li{
        list-style: none;
    }

    .NavBar ul li a{
        display: block;
        text-decoration: none;
        font-size: 2rem;
        color: #403027;
        padding: 3.7rem 1.5rem;
    }
    .NavBar ul li a:hover{
        background: #f1d4bb;
        color: #403027;
        font-weight: 700;
    }

    /* Start Menu */
        .MenuContainer {
            /* position: relative; */
            display: none;
        }
    /* END Menu */

/* END NavBar  */



/* Start Main */
    .Section1{
        display: flex;
        flex-flow: row wrap;
        height: 100vh;
    }

    .DivImg{
        display: flex;
        width: 50%;
        /* height: fit-content; */
        /* background: cadetblue; */
        /* font-size: 4rem; */
        align-items: center; 
        justify-content: center;

        /* test */
        /* flex-basis: 0;
        flex-grow: 2;
        min-width: 70%; */
        /* test */
    }
    .DivImg > img{
        width: 100%;
        height: 100%;
        /* this is responsible for adaptable image resizing */
        object-fit: cover;

    }

    .DivText{
        display: flex;
        width: 50%;
        /* background: cornflowerblue; */
        font-size: 3rem;
        line-height: 3;
        align-items: center; 
        justify-content: center;
        text-align: center;
        padding: 0 40px;
        color: #403027;
        /* test */
        /* flex-basis: 12rem; */
        /* flex-grow: 1; */
        /* min-width: 30%; */
        /* test */
        
    }


    .Section2{
        display: flex;
        flex-flow: row-reverse nowrap;
        /* flex-direction: row-reverse; */
        height: 100vh;

    }

    /* .CTA{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background: rgb(165, 177, 100);
        line-height: 3;
        align-items: center; 
        justify-content: center;
        text-align: center;
        padding: 0 40px;
    } */
    

/* END Main */

/* Start Footer */
    footer{
        height: 100vh;
        width: 100%;
        background: #403027;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 0 30%;
    }
    footer > p{
        font-size: 3rem;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 2;
        color: #F8EEE6;
    }
    .CTAForm{
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        /* align-items: center; */
        width: 100%;
        padding: 0;
        background: #F9EBDE;
    }
    .CTAForm input{
        margin: 0px 0px;
        border-radius: 0px;
        border-color: #403027;
        background-color: #403027;
        width: 100%;
        height: 57px;
        padding: 12px 15px;
        /* display: inline-block; */
        border: 4px solid #F8EEE6;
        color: #F8EEE6;
        font-size: 1.5rem;
        text-align: center;
    }
    .CTAForm ::placeholder{
        font-family: 'Merriweather', serif;
        font-size: 1.4rem;
        font-weight: lighter;
        font-family: sans-serif;
        font-style: italic;
        color: #f8eee69a;
        letter-spacing: 1px;
        text-align: center;

    }

    .CTAForm button{
        /* float: right; */
        height: 60px;
        width: 100%;
        padding: 1rem 0;
        margin: 0;
        border: none;
        border-radius: 0px;
        background-color: #F8EEE6;
        text-transform: uppercase;
        /* font-weight: bold; */
        font-size: 2rem;
        color: #403027;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .CTAForm button:hover{
        background-color: #f8e7da;
    }

    footer #FooterCallIcon{
        color: #F9EBDE; 
        opacity: 0.8;
        padding: 4rem 2rem 2rem 2rem;
    }

    footer #FooterCallIcon:hover{
        color: #f8e7da;
        opacity: 1;
    }

   
/* END Footer */

/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */


/* Mobile Media Query Start */

@media only screen and (max-width: 900px) {

    /* Full Page */

    header .ProductContainer{
        /* background: rgb(58, 226, 66); */
        display: flex;
        flex-direction: column-reverse; 
        height: 80%;
        padding: 0;  
    }

    header .ProductContainer .ProductTitle{
        /* background: rgb(224, 86, 132); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 40%;
        /* padding: 1rem; */
    }

    header .ProductContainer .ProductTitle h1{
        font-size: 3rem;
        margin: 0;
        padding: 0 0 0.8em 0;
    }

    
    header .ProductContainer .ProductTitle .OrderNowButton{
        padding: 0.5em 2.5em;
        font-size: 2em;
    }


    header .ProductContainer .Product{
        /* background: rgb(211, 158, 175); */
        width: 100%;
        height: 60%;
    }
    header .ArrowB a{
        padding: 0;
        margin: 0;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    /* Full Page */

    /* NavBar */
        .NavBar ul li a{
            display: none;
        }

        .NavBar{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 8rem;
            padding: 1rem 1rem;
            background: #F9EBDE;
            position: sticky;
        }

        .NavBar img{
            height: 100%;
            padding: 10px;
            cursor: pointer;
        }


        /* Menu */
            .MenuContainer {
                /* position: relative; */
                display: block;
                padding: 8px;
            }

            /* .Menu { */
                /* background-color: #04AA6D; */
                /* color: red; */
                /* padding: 16px; */
                /* font-size: 16px;
                border: none;
                position: relative;
                right: 0.7rem; */
            /* } */
            .MenuIcon{
                width: 100%;
                padding: 16px;
                cursor: pointer;
            }

            .links {
                display: none;
                align-items: center;
                text-align: center;
                position: absolute;
                left: 0rem;
                top: 8rem;
                background-color: #F9EBDE;
                width: 100%;
                /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
                z-index: 1;
            }

            .links a {
                color: #403027;
                padding: 20px 16px;
                text-decoration: none;
                display: block;
                font-size: 2rem;
            }

            /* This 2 lines are responsible for the visibility
            of the DropDop menu after Hovering over it */
            .links a:hover {
                background-color: #f1d4bb;
                font-weight: 700;
            }
            .MenuContainer:hover .links {display: block;}

        /* End Menu */

    /* NavBar */


    /* main Mobile */


       .Section1, .Section2{
            display: flex;
            flex-flow: column nowrap;
            height: 100vh;
        }

        .DivImg{
            display: flex;
            height: fit-content;
            /* background: rgb(21, 248, 0); */
            align-items: center; 
            justify-content: center;
            /* height: 60%; */
            width: 100%;
        }

        img{
            height: 100%;
        }

        .DivText{
            display: flex;
            /* padding: 150px 20px; */
            /* background: rgb(230, 129, 214); */
            font-size: 2.2rem;
            align-items: center; 
            justify-content: center;
            flex: 1 1 auto;
            width: 100%;
        }
    /* Main */


    /* Footer */
    footer{
        padding: 0 7%;
    }

    footer > p{
        font-size: 2.5rem;
        text-align: center;
        padding: 0 7%;
        line-height: 2.5;
    }

    footer .CTAForm{
        /* padding: 5% 7%; */
        padding: 0;
        background: #F9EBDE;
    }
    .CTAForm button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        height: fit-content;
    }

    .CTAForm button:hover{
        font-size: 2rem;
    }
    /* Footer */
}
/* Mobile Media Query END */


/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */


/* Wide Screen Media Query */
@media only screen and (min-width: 1950px) {
    html{
        scroll-snap-type: none;
        scroll-behavior: none;
        font-size: 15px;
        /* background: #e9d8c8; */
    }
    body, main{
        max-width: 1920px;
    }
    header, .Section1, .Section2, footer{
        max-height: 1080px;
    }
    .CTAForm button{

        font-size: 1.5rem;
        
    }
}
/* Wide Screen Media Query */